<!-- All the files that are required -->
<link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href='../css/master.css' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

<div id="outer">
    <div class="banner">
        <div class="banner-title">Commute Calculator</div>
    </div>

    <div class="wrapper">

        <div class="info-wrapper">

            <div class="info-header">
                Housemate Info
            </div>

            <div class="housemate-info">
                <div class="housemate-form">

                  <div class="button-group">
                    <div>
                      <button class="btn btn-secondary" ng-click="addHousemate()" type="button">Add Housemate</button>
                      <button class="btn btn-secondary" ng-click="removeHousemate()" type="button">Remove Housemate</button>
                      </div>

                    <button type="button" class="btn btn-danger" ng-click="getAreaToLiveIn('W1F9EP')">Where should we live?</button>
                  </div>

                    <div ng-repeat="housemate in housemates" class="form-group housemate-entry">
                        <h3>
                            <label style="text-align: center">
                                Housemate {{housemates.indexOf(housemate) + 1}}
                            </label>
                        </h3>
                        <div class="input-group">
                            <span class="input-group-addon">Commute To...</span>
                            <input type="text" class="form-control" placeholder="Postcode"
                                   aria-describedby="basic-addon1" ng-model="housemate.commuteTo">
                        </div>
                        <div style="padding-top: 10px" class="input-group">
                            <span class="input-group-addon">Budget</span>
                            <input type="text" class="form-control" aria-label="Budget Per Person p/m"
                                   ng-model="housemate.budget">
                            <span class="input-group-addon">£ / Month</span>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!--
        <div class="info-wrapper">

            <div class="info-header">
                Property Info
            </div>

            <div class="property-info">
                <div class="form-group">
                    <label>What is your maximum commute?</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Max Commute"
                               aria-describedby="basic-addon2" ng-model="maxCommute">
                        <span class="input-group-addon">mins each way</span>
                    </div>
                </div>
                <button type="button" class="btn btn-danger btn-find-place" ng-click="getAreaToLiveIn('EC4A2BE')">Where should we live?</button>
            </div>
        </div>

        <div class="info-wrapper">

            <div class="info-header">
                Search Restaurants - Just Eat
            </div>

            <div class="property-info">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Postcode</span>
                        <input type="text" class="form-control" placeholder="Max Commute"
                               aria-describedby="basic-addon2" ng-model="restaurantPostcode">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Cuisine type</span>
                        <input type="text" class="form-control" placeholder="Max Commute"
                               aria-describedby="basic-addon2" ng-model="restaurantCuisine">
                    </div>
                </div>
                <button type="button" class="btn btn-danger btn-find-place" ng-click="searchRestaurants()">Nom Nom Search</button>
            </div>
        </div> -->
    </div>

    <div class="invisible result-wrapper">
      <div class="info-header">
          Our Recommendations
      </div>
      <div class="property-info">

        <h3>
          We recommend living near
        </h3>
        <div class="property-row">
          <div class="property-card">
            <div class="info-header">
                Bethnal Green
            </div>
          </div>
        </div>
        <h4>Or you may want concider these locations:</h4>
        <div class="property-row">
          <div class="property-card">
            <div class="info-header">
                Mile End
            </div>
          </div>
          <div class="property-card">
            <div class="info-header">
                West Ham
            </div>
          </div>
          <div class="property-card">
            <div class="info-header">
                Canada Water
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="collapse result-wrapper">
        LEWIS IS THE BEST
    </div>
</div>
