<!-- All the files that are required -->
<link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href='../css/master.css' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

<div class="text-center" style="padding:50px 0" ng-controller="homeController">
    <button type="submit" class="login-register-button" ng-click="regionSelector('WC1X8QP')"><i class="fa fa-chevron-right"></i></button>
</div>
