.container {

}

body {
    background-color: #e74c3c;
}

/* Top Banner CSS */
.banner {
    background-color: #c0392b;
    height: 56px;
    padding: 8px 16px;
}

.banner-title {
    background-color: #912c21;
    color: white;
    font-size: 20px;
    border-radius: 7.5px;
    padding: 5px 10px;
}

/********/

/* Internal Wrapper CSS */
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 5% 0 5%;
}

/********/

/* CSS for the info section in the middle of the window */
.info-wrapper {
    margin: 20px;

    flex-grow: 1;
}

.info-header {
    background-color: #c0392b;
    color: white;
    font-size: 17.5px;
    padding: 7.5px 15px;
    border-radius: 7.5px 7.5px 0 0;
}

.housemate-info, .property-info, .retaurant-info {
    background-color: white;
    padding: 15px;
    border-radius: 0 0 7.5px 7.5px;
}

.btn-find-place {
    padding: 15px;
}

/********/